.maincard {
    color: white;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    margin: 1rem;
}

.card-title {
    padding-bottom: 1rem;
}

.headertxt {
    padding-top: 1rem;
    color: white;
}

.male {
    background-color: lightskyblue;
}

.female {
    background-color: lightpink;
}